* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  color: #283618;
  background-color: #ffefcd;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #283618;
}

.center {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffefcd;
  border-radius: 13px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
  text-align: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
  margin-top: 20px;
}
h3::before {
  content: "--------<";
}
h3::after {
  content: ">--------";
}
nav {
  background-color: #a5be74;
  margin-top: 30px;
  padding: 0 30px;
  border-radius: 10px;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}
li {
  display: inline-block;
  margin: 30px auto;
  width: 200px;
}
li a {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px;
  border-radius: 3px;
}

.standard:hover {
  background-color: #2e3d50;
  color: whitesmoke;
}
.basics:hover {
  background-color: #8894a2;
  color: whitesmoke;
}
.tables:hover {
  background-color: #b6410f;
  color: whitesmoke;
}
.semantics:hover {
  background-color: #0d1d25;
  color: whitesmoke;
}

main {
  text-align: center;
  color: whitesmoke;
}

main div {
  padding-top: 40px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.standardp {
  background-color: #2e3d50;
}
table {
  margin: 0 auto;
  width: 900px;
}

th,
td {
  border: 3px solid white;
  padding: 20px 30px;
}

th {
  font-size: 25px;
}
td {
  font-size: 20px;
}
.tag::before {
  content: "<";
}

.tag::after {
  content: ">";
}

.basic {
  background-color: #8894a2;
}
.table {
  background-color: #b6410f;
}
.semantic {
  background-color: #0d1d25;
}

footer{
  background-color: #01757a;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
